
.header{
  .funBus {
    width: 75%;
    margin-left: 15%;
    img {
      width: 100%;
    }
  }
  .intro {
    width: 75%;
    margin-left: 15%;
  }
    
    p {
      border-bottom: 2px dashed @navigation-border;
    }
  }

  .home {
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }
    

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
        
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 50%;
    margin: 0 auto 30px;
    margin-left: 25%;
     
    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    width: 98%;
    margin-left: 1%;
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    
    
     }

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
    .btn {
      .button(); 
      }
    
    } // home
    
    #form1{
      margin-left:23%;
      }

      input[type=text]{
        width:75%;
         
      }
      
      .form-btn{
       width:30%; 
       margin-left:42%;
      }
    input[type=submit]{
      .button();
    }

// home


// *Mobile Version

@media @mobile{
.header{
  .intro{
    width:96%;
    margin:2%;
  }
}
  .home{
  .content-section{
    flex-direction:column;
    .text-content{
      width:96%;
      margin: 2%;
    }
  .img-content{
    width:100%;
    img{
      width:96%;
      margin:2%;
    }
  }
}
  .inverse-content{
    flex-direction:column-reverse;
  }
.content-destination{
  width:98%;
  margin:1%;
  }    
 .content-pick{
   flex-direction:column;

   .destination{
width:98%;
margin:1%;
   }
 }
    
  }//home
  #form1{
    margin-left: 1%;
  }
    .form-btn{
      width:50%;
      margin-left:20%;
    }
    
} // media