// *Mixins in here

//* My Mix-Ins

.button() {
  display: block;
  background: #17a2b8;
  margin: 0 1% 2%;
  cursor: grab;
  width: 98%;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  border: 3px groove teal;
  color: #ffebcd;
  &:hover {
    background: #ffebcd;
    color: #17a2b8;
  }
}

.fun() {
  animation: slidein 0.5s linear 5s infinite alternate;
  @keyframes slidein {
    from {
      margin-left: 225%;
      width: 225%;
    }

    to {
      margin-left: 0%;
      width: 100%;
     
    }
  }
}
