//* Navigation Styles here

.navBar {
  display: flex;
  width: 75%;
  margin: 1%;
  border-bottom: 2px dashed @navigation-border;
  margin-left: 15%;
  
}
  .logo {
    display:flex;
    width: 48%;
    margin: 2%;
    font-size: 30px;
  }

  .animate {
    width: 25%;
  }

  .roll {
    border-radius: 10px;
    margin: 1%;
    .fun();
  }

  .nav {
    display:flex;
    width: 48%;
    margin: 1%;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: @shark;
  }


// *Mobile Version

@media @mobile {
  .navBar {
    width: 96%;
    margin:2%;
    flex-direction: column;
    align-items: center;

    .logo {
        margin-left:10%;
        font-size: 25px;
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .nav {
        width: 100%;
      }
    }
  

