//* Navigation Styles here

.navBar {
  display: flex;
  width: 75%;
  margin: 1%;
  border-bottom: 2px dashed @navigation-border;
  margin-left: 15%;
  @media @mobile {
    flex-direction: column;
    align-items:center;
  }
}



.logo {
  display:flex;
  width: 50%;
  margin: 1%;
  font-size: 30px;
  @media @mobile{
    font-size:25px;
    display:flex;
    flex-direction:column-reverse;
  }
}


.animate{
width:25%;

i{
  margin:1%;
  .fun();
}
}
.nav {
  display: flex;
  width: 48%;
  margin: 1%;
  justify-content: space-around;
  @media @mobile {
    jusitify-content: space-evenly;
    width: 100%;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    color: @shark;
  }
}
